<form name="vitalSignsForm" #vitalSignsForm="ngForm" (ngSubmit)="addMeasurement()" autocomplete="off" novalidate>
  <div class="hx-input-control" [ngClass]="{'is-danger': (pulseInput.touched && pulseInput.dirty && !pulseInput.valid)}">
    <input [(ngModel)]="pulse" name="pulse" #pulseInput="ngModel" class="hx-input" type="number" required />
    <label class="hx-label">Pulse
      <sup>*</sup>
    </label>
    <div class="hx-help">Please enter pulse (per minute)</div>
  </div>
  <div class="hx-input-control" [ngClass]="{'is-danger': (bloodPressureInput.touched && bloodPressureInput.dirty && !bloodPressureInput.valid)}">
    <input [(ngModel)]="bloodPressure" name="bloodPressure" #bloodPressureInput="ngModel" class="hx-input" type="text" required pattern="[\d]*\/[\d]*"/>
    <label class="hx-label">Blood Pressure
      <sup>*</sup>
    </label>
    <div class="hx-help">Please enter blood pressure in systolic/diastolic</div>
  </div>
  <button class="hx-button" [disabled]="!vitalSignsForm.valid">Add</button>
</form>
