<div class="hx-page">
  <div class="hx-container">
    <header class="hx-page-header">
      <span class="hx-title">Patient Metrics</span>
    </header>
    <main class="hx-page-body">
      <div class="hx-section">
        <div class="hx-columns">
          <div class="hx-column">
            <div class="hx-card">
              <div class="hx-card-content">
                <helix-body-measurements (measurementAdded)="onMeasurementAdded($event)"></helix-body-measurements>
              </div>
              <div class="hx-card-content">
                <helix-vital-signs (measurementAdded)="onMeasurementAdded($event)"></helix-vital-signs>
              </div>
            </div>
            <helix-measurements-grid [measurementsData]="measurementsData"></helix-measurements-grid>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
