<form name="measurementsForm" #measurementsForm="ngForm" (ngSubmit)="addMeasurement()" autocomplete="off" novalidate>

  <div class="hx-input-control" [ngClass]="{'is-danger': (heightInput.touched && heightInput.dirty && !heightInput.valid)}">
    <input [(ngModel)]="height" name="height" #heightInput="ngModel" class="hx-input" type="number" required />
    <label class="hx-label">Height
      <sup>*</sup>
    </label>
    <div class="hx-help">Please enter height in cm</div>
  </div>
  <div class="hx-input-control" [ngClass]="{'is-danger': (weightInput.touched && weightInput.dirty && !weightInput.valid)}">
    <input [(ngModel)]="weight" name="weight" #weightInput="ngModel" class="hx-input" type="number" required />
    <label class="hx-label">Weight
      <sup>*</sup>
    </label>
    <div class="hx-help">Please enter weight in kg</div>
  </div>
  <button type="submit" class="hx-button" [disabled]="!measurementsForm.valid">Add</button>
</form>
